In [4]:
#for loops
seq = [1,2,3,4,5]
for num in seq:
    print(num)

1
2
3
4
5

In [7]:
#while loop
i =1
while i < 5:
    print('i is {}'.format(i))
    i+= 1

i is 1
i is 2
i is 3
i is 4

In [9]:
for x in range(0,4):
    print(x)

0
1
2
3

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
x= [1,2,3,4]
out=[]
for bob in x:
    out.append(bob**2)

In [12]:
print(out)

[1, 4, 9, 16]

In [13]:
[num**2 for num in x]

[1, 4, 9, 16]

In [14]:
def my_func(param1):
    return (param1**2)

print(my_func(2))

4

In [15]:
def namz(defname='Default'):
    """
    Some text
    """
    return("Hello"+defname)

print(namz("Edward"))

HelloEdward

In [17]:
print(namz())

HelloDefault

In [18]:
namz

In [19]:
def times2(var):
    return (var * 2)
print(times2(3))

6

In [20]:
seq = [1,2,3,4,5]
map(times2,seq)

In [24]:
list(map(lambda num: num *3,seq)) #the lambda multiplies 3

[3, 6, 9, 12, 15]

In [26]:
 list(filter(lambda num: num%2 == 0, seq)) #filters out the even nos

[2, 4]

In [30]:
s = 'Hello my name is Logan'
s.lower()

'hello my name is logan'

In [29]:
s.upper()

'HELLO MY NAME IS LOGAN'

In [31]:
s.split() #splitting into white space

['Hello', 'my', 'name', 'is', 'Logan']

In [34]:
twit = 'Go Sports! #Sports'
twit.split('#')

['Go Sports! ', 'Sports']

In [35]:
d = {'k1':1, 'k2':2}
d.keys()

dict_keys(['k1', 'k2'])

In [36]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [37]:
d.values()

dict_values([1, 2])

In [38]:
lst = [12,3,5]
lst.pop() #last item wil be deleted

5

In [39]:
frst = lst.pop(0)

In [40]:
print(frst)

12

In [41]:
lst

[3]

In [42]:
'x' in [1,2,3,4]
'x' in ['x','y']

True

In [43]:
x = [(1,2),(3,4),(5,6)]
x[0][0]

1

In [44]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [45]:
for (a,b) in x:
    print(b)

2
4
6

In [46]:
for (a,b) in x:
    print(a)

1
3
5