In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [3]:
np.random.seed(101)

In [7]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [9]:
booldf = df > 0
booldf

       W      X      Y      Z
A  False   True  False   True
B   True  False  False   True
C   True  False  False  False
D   True  False   True   True
E  False   True  False   True

In [10]:
df[booldf] #values where it was true and NaN where it was false

          W         X         Y         Z
A       NaN  0.196800       NaN  0.000366
B  1.025984       NaN       NaN  0.649826
C  2.154846       NaN       NaN       NaN
D  0.147027       NaN  0.558769  1.024810
E       NaN  1.862864       NaN  0.610478

In [11]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [12]:
df['W'] > 0 #values greater than 0 in column W

A    False
B     True
C     True
D     True
E    False
Name: W, dtype: bool

In [13]:
df[df['W']  > 0] #returns row B,C,D because that's where condition df['W'] holds true

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [14]:
df[df['Z'] < 0] #returns row C where column Z's value < 0

          W         X         Y         Z
C  2.154846 -0.610259 -0.755325 -0.346419

In [20]:
resultdf = df[df['W'] > 0]
resultdf

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [16]:
resultdf['X']

B   -0.156598
C   -0.610259
D   -0.479448
Name: X, dtype: float64

In [17]:
df[df['W'] > 0]['X'] #gives the same result as above

B   -0.156598
C   -0.610259
D   -0.479448
Name: X, dtype: float64

In [21]:
df[df['W'] > 0][['X','Y']]

          X         Y
B -0.156598 -0.031579
C -0.610259 -0.755325
D -0.479448  0.558769

In [26]:
boolser = df['W'] > 0
boolser
result = df[boolser]
result[['W','X']]

          W         X
B  1.025984 -0.156598
C  2.154846 -0.610259
D  0.147027 -0.479448

In [29]:
df[(df['W'] > 0) & (df['Y'] > 0.5)] #returns row D where W > 0 and Y > 0.5

          W         X         Y        Z
D  0.147027 -0.479448  0.558769  1.02481

In [30]:
df[(df['W'] > 0) | (df['Y'] > 0.5)] #returns row D where W > 0 and Y > 0.5

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [31]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [32]:
df.reset_index() #resetting the index

  index         W         X         Y         Z
0     A -0.993263  0.196800 -1.136645  0.000366
1     B  1.025984 -0.156598 -0.031579  0.649826
2     C  2.154846 -0.610259 -0.755325 -0.346419
3     D  0.147027 -0.479448  0.558769  1.024810
4     E -0.925874  1.862864 -1.133817  0.610478

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478