In [4]:
#for loops
seq = [1,2,3,4,5]
for num in seq:
    print(num)

1
2
3
4
5

In [7]:
#while loop
i =1
while i < 5:
    print('i is {}'.format(i))
    i+= 1

i is 1
i is 2
i is 3
i is 4

In [9]:
for x in range(0,4):
    print(x)

0
1
2
3

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
x= [1,2,3,4]
out=[]
for bob in x:
    out.append(bob**2)

In [12]:
print(out)

[1, 4, 9, 16]

In [13]:
[num**2 for num in x]

[1, 4, 9, 16]

In [14]:
def my_func(param1):
    return (param1**2)

print(my_func(2))

4

In [15]:
def namz(defname='Default'):
    """
    Some text
    """
    return("Hello"+defname)

print(namz("Edward"))

HelloEdward

In [17]:
print(namz())

HelloDefault

In [18]:
namz

In [19]:
def times2(var):
    return (var * 2)
print(times2(3))

6

In [20]:
seq = [1,2,3,4,5]
map(times2,seq)

In [24]:
list(map(lambda num: num *3,seq)) #the lambda multiplies 3

[3, 6, 9, 12, 15]

In [26]:
 list(filter(lambda num: num%2 == 0, seq)) #filters out the even nos

[2, 4]