In [3]:
import pandas as pd

In [2]:
#series has access labels

In [4]:
import numpy as np

In [7]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a': 10 , 'b':20, 'c': 30}

In [10]:
pd.Series(data = my_data)#creating a series

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(data = my_data, index = labels) #sets the index as labels

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [15]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [17]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [18]:
pd.Series(data= [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
ser1 = pd.Series([1,2,3,4],['India','Britain','Japan','USA'])
ser1

India      1
Britain    2
Japan      3
USA        4
dtype: int64

In [21]:
ser2 = pd.Series([1,2,5,4],['India','Britain','Italy','Japan'])
ser2

India      1
Britain    2
Italy      5
Japan      4
dtype: int64

In [22]:
ser1['India'] #taking information from the series

1

In [24]:
ser3 = pd.Series(data = labels)
ser3

0    a
1    b
2    c
dtype: object

In [25]:
ser3[0]

'a'

In [26]:
ser1

India      1
Britain    2
Japan      3
USA        4
dtype: int64

In [27]:
ser2

India      1
Britain    2
Italy      5
Japan      4
dtype: int64

In [28]:
ser1+ser2

Britain    4.0
India      2.0
Italy      NaN
Japan      7.0
USA        NaN
dtype: float64