In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [11]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index) #used to create multi levels
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [12]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B']) #multi level index

In [13]:
df

             A         B
G1 1 -0.993263  0.196800
   2 -1.136645  0.000366
   3  1.025984 -0.156598
G2 1 -0.031579  0.649826
   2  2.154846 -0.610259
   3 -0.755325 -0.346419

In [17]:
df.loc['G1'].loc[1]

A   -0.993263
B    0.196800
Name: 1, dtype: float64

In [19]:
df.index.names = ['Groups','Num']#setting index names

In [20]:
df

                   A         B
Groups Num
G1     1   -0.993263  0.196800
       2   -1.136645  0.000366
       3    1.025984 -0.156598
G2     1   -0.031579  0.649826
       2    2.154846 -0.610259
       3   -0.755325 -0.346419

In [26]:
df.loc['G2'].loc[2]['B']

-0.6102588558227414

In [27]:
df.loc['G1'].loc[2]['B']

0.000366479605643592

In [29]:
df.xs('G1') #cross section. returns the level G1

            A         B
Num
1   -0.993263  0.196800
2   -1.136645  0.000366
3    1.025984 -0.156598

In [31]:
df.xs(1,level='Num') #returns 1 from both levels

               A         B
Groups
G1     -0.993263  0.196800
G2     -0.031579  0.649826