In [1]:
import pandas as pd

'I:\\Code Work\\Python - ML\\Day 7\\Data Input and Output'

In [3]:
pd.read_csv('exampledata.csv')

,permalink,company,numEmps,category,city,state,fundedDate,raisedAmt,raisedCurrency,round
0,lifelock,LifeLock,NaN,web,Tempe,AZ,01-May-07,6850000.0,USD,b
1,lifelock,LifeLock,NaN,web,Tempe,AZ,01-Oct-06,6000000.0,USD,a
2,lifelock,LifeLock,NaN,web,Tempe,AZ,01-Jan-08,25000000.0,USD,c
3,mycityfaces,MyCityFaces,7.0,web,Scottsdale,AZ,01-Jan-08,50000.0,USD,seed
4,flypaper,Flypaper,NaN,web,Phoenix,AZ,01-Feb-08,3000000.0,USD,a
5,infusionsoft,Infusionsoft,105.0,software,Gilbert,AZ,01-Oct-07,9000000.0,USD,a
6,gauto,gAuto,4.0,web,Scottsdale,AZ,01-Jan-08,250000.0,USD,seed
7,chosenlist-com,ChosenList.com,5.0,web,Scottsdale,AZ,01-Oct-06,140000.0,USD,seed
8,chosenlist-com,ChosenList.com,5.0,web,Scottsdale,AZ,25-Jan-08,233750.0,USD,angel
9,digg,Digg,60.0,web,San Francisco,CA,01-Dec-06,8500000.0,USD,b
10,digg,Digg,60.0,web,San Francisco,CA,01-Oct-05,2800000.0,USD,a
11,facebook,Facebook,450.0,web,Palo Alto,CA,01-Sep-04,500000.0,USD,angel
12,facebook,Facebook,450.0,web,Palo Alto,CA,01-May-05,12700000.0,USD,a
13,facebook,Facebook,450.0,web,Palo Alto,CA,01-Apr-06,27500000.0,USD,b
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df = pd.read_csv('exampledata.csv')
df.to_csv('My_Output',index=False)

In [9]:
pd.read_csv('My_Output')

,permalink,company,numEmps,category,city,state,fundedDate,raisedAmt,raisedCurrency,round
0,lifelock,LifeLock,NaN,web,Tempe,AZ,01-May-07,6850000.0,USD,b
1,lifelock,LifeLock,NaN,web,Tempe,AZ,01-Oct-06,6000000.0,USD,a
2,lifelock,LifeLock,NaN,web,Tempe,AZ,01-Jan-08,25000000.0,USD,c
3,mycityfaces,MyCityFaces,7.0,web,Scottsdale,AZ,01-Jan-08,50000.0,USD,seed
4,flypaper,Flypaper,NaN,web,Phoenix,AZ,01-Feb-08,3000000.0,USD,a
5,infusionsoft,Infusionsoft,105.0,software,Gilbert,AZ,01-Oct-07,9000000.0,USD,a
6,gauto,gAuto,4.0,web,Scottsdale,AZ,01-Jan-08,250000.0,USD,seed
7,chosenlist-com,ChosenList.com,5.0,web,Scottsdale,AZ,01-Oct-06,140000.0,USD,seed
8,chosenlist-com,ChosenList.com,5.0,web,Scottsdale,AZ,25-Jan-08,233750.0,USD,angel
9,digg,Digg,60.0,web,San Francisco,CA,01-Dec-06,8500000.0,USD,b
10,digg,Digg,60.0,web,San Francisco,CA,01-Oct-05,2800000.0,USD,a
11,facebook,Facebook,450.0,web,Palo Alto,CA,01-Sep-04,500000.0,USD,angel
12,facebook,Facebook,450.0,web,Palo Alto,CA,01-May-05,12700000.0,USD,a
13,facebook,Facebook,450.0,web,Palo Alto,CA,01-Apr-06,27500000.0,USD,b
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [15]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='Newsheet')

In [16]:
data = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

In [17]:
type(data)

list

In [18]:
data

[                                             Bank Name                City  \
 0                  Washington Federal Bank for Savings             Chicago
 1      The Farmers and Merchants State Bank of Argonia             Argonia
 2                                  Fayette County Bank          Saint Elmo
 3    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
 4                                       First NBC Bank         New Orleans
 5                                        Proficio Bank  Cottonwood Heights
 6                        Seaway Bank and Trust Company             Chicago
 7                               Harvest Community Bank          Pennsville
 8                                          Allied Bank            Mulberry
 9                         The Woodbury Banking Company            Woodbury
 10                              First CornerStone Bank     King of Prussia
 11                                  Trust Company Bank             Memphis
 12                          North Milwaukee State Bank           Milwaukee
 13                              Hometown National Bank            Longview
 14                                 The Bank of Georgia      Peachtree City
 15                                        Premier Bank              Denver
 16                                      Edgebrook Bank             Chicago
 17                              Doral Bank  En Espanol            San Juan
 18                   Capitol City Bank & Trust Company             Atlanta
 19                             Highland Community Bank             Chicago
 20                    First National Bank of Crestview           Crestview
 21                                  Northern Star Bank             Mankato
 22              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
 23               The National Republic Bank of Chicago             Chicago
 24                                      NBRS Financial          Rising Sun
 25                               GreenChoice Bank, fsb             Chicago
 26                            Eastside Commercial Bank             Conyers
 27                              The Freedom State Bank             Freedom
 28                                         Valley Bank     Fort Lauderdale
 29                                         Valley Bank              Moline
 ..                                                 ...                 ...
 525                                  ANB Financial, NA         Bentonville
 526                                          Hume Bank                Hume
 527                             Douglass National Bank         Kansas City
 528                                  Miami Valley Bank            Lakeview
 529                                            NetBank          Alpharetta
 530                          Metropolitan Savings Bank          Pittsburgh
 531                                    Bank of Ephraim             Ephraim
 532                                      Reliance Bank        White Plains
 533              Guaranty National Bank of Tallahassee         Tallahassee
 534                                Dollar Savings Bank              Newark
 535                               Pulaski Savings Bank        Philadelphia
 536              First National Bank of Blanchardville      Blanchardville
 537                              Southern Pacific Bank            Torrance
 538                        Farmers Bank of Cheneyville         Cheneyville
 539                                      Bank of Alamo               Alamo
 540             AmTrade International Bank  En Espanol             Atlanta
 541                     Universal Federal Savings Bank             Chicago
 542                       Connecticut Bank of Commerce            Stamford
 543                                   New Century Bank     Shelby Township
 544                              Net 1st National Bank          Boca Raton
 545                                       NextBank, NA             Phoenix
 546                           Oakwood Deposit Bank Co.             Oakwood
 547                              Bank of Sierra Blanca       Sierra Blanca
 548                      Hamilton Bank, NA  En Espanol               Miami
 549                             Sinclair National Bank            Gravette
 550                                 Superior Bank, FSB            Hinsdale
 551                                Malta National Bank               Malta
 552                    First Alliance Bank & Trust Co.          Manchester
 553                  National State Bank of Metropolis          Metropolis
 554                                   Bank of Honolulu            Honolulu

      ST   CERT                Acquiring Institution        Closing Date  \
 0    IL  30570                   Royal Savings Bank   December 15, 2017
 1    KS  17719                          Conway Bank    October 13, 2017
 2    IL   1802            United Fidelity Bank, fsb        May 26, 2017
 3    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
 4    LA  58302                         Whitney Bank      April 28, 2017
 5    UT  35495                    Cache Valley Bank       March 3, 2017
 6    IL  19328                  State Bank of Texas    January 27, 2017
 7    NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
 8    AR     91                         Today's Bank  September 23, 2016
 9    GA  11297                          United Bank     August 19, 2016
 10   PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
 11   TN   9956           The Bank of Fayette County      April 29, 2016
 12   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
 13   WA  35156                       Twin City Bank     October 2, 2015
 14   GA  35259                        Fidelity Bank     October 2, 2015
 15   CO  34112            United Fidelity Bank, fsb       July 10, 2015
 16   IL  57772             Republic Bank of Chicago         May 8, 2015
 17   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
 18   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
 19   IL  20290            United Fidelity Bank, fsb    January 23, 2015
 20   FL  17557                       First NBC Bank    January 16, 2015
 21   MN  34983                            BankVista   December 19, 2014
 22   CA  34738    Bank of Southern California, N.A.    November 7, 2014
 23   IL    916                  State Bank of Texas    October 24, 2014
 24   MD   4862                          Howard Bank    October 17, 2014
 25   IL  28462                 Providence Bank, LLC       July 25, 2014
 26   GA  58125            Community & Southern Bank       July 18, 2014
 27   OK  12483      Alva State Bank & Trust Company       June 27, 2014
 28   FL  21793  Landmark Bank, National Association       June 20, 2014
 29   IL  10450                  Great Southern Bank       June 20, 2014
 ..   ..    ...                                  ...                 ...
 525  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
 526  MO   1971                        Security Bank       March 7, 2008
 527  MO  24660       Liberty Bank and Trust Company    January 25, 2008
 528  OH  16848         The Citizens Banking Company     October 4, 2007
 529  GA  32575                           ING DIRECT  September 28, 2007
 530  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
 531  UT   1249                        Far West Bank       June 25, 2004
 532  NY  26778                     Union State Bank      March 19, 2004
 533  FL  26838              Hancock Bank of Florida      March 12, 2004
 534  NJ  31330                          No Acquirer   February 14, 2004
 535  PA  27203                       Earthstar Bank   November 14, 2003
 536  WI  11639                        The Park Bank         May 9, 2003
 537  CA  27094                            Beal Bank    February 7, 2003
 538  LA  16445            Sabine State Bank & Trust   December 17, 2002
 539  TN   9961                          No Acquirer    November 8, 2002
 540  GA  33784                          No Acquirer  September 30, 2002
 541  IL  29355               Chicago Community Bank       June 27, 2002
 542  CT  19183                   Hudson United Bank       June 26, 2002
 543  MI  34979                          No Acquirer      March 28, 2002
 544  FL  26652                       Bank Leumi USA       March 1, 2002
 545  AZ  22314                          No Acquirer    February 7, 2002
 546  OH   8966       The State Bank & Trust Company    February 1, 2002
 547  TX  22002     The Security State Bank of Pecos    January 18, 2002
 548  FL  24382     Israel Discount Bank of New York    January 11, 2002
 549  AR  34248                   Delta Trust & Bank   September 7, 2001
 550  IL  32646                Superior Federal, FSB       July 27, 2001
 551  OH   6629                    North Valley Bank         May 3, 2001
 552  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
 553  IL   3815              Banterra Bank of Marion   December 14, 2000
 554  HI  21029                   Bank of the Orient    October 13, 2000

            Updated Date
 0     February 21, 2018
 1     February 21, 2018
 2         July 26, 2017
 3        March 22, 2018
 4      December 5, 2017
 5         March 7, 2018
 6          May 18, 2017
 7          May 18, 2017
 8    September 25, 2017
 9          June 1, 2017
 10    September 6, 2016
 11    September 6, 2016
 12       March 13, 2017
 13    February 19, 2018
 14     October 24, 2016
 15    February 20, 2018
 16        July 12, 2016
 17         May 13, 2015
 18       April 21, 2015
 19    November 15, 2017
 20    November 15, 2017
 21      January 3, 2018
 22    November 10, 2016
 23      January 6, 2016
 24    February 19, 2018
 25    December 12, 2016
 26      October 6, 2017
 27    February 21, 2018
 28    February 14, 2018
 29        June 26, 2015
 ..                  ...
 525     August 28, 2012
 526     August 28, 2012
 527    October 26, 2012
 528  September 12, 2016
 529     August 28, 2012
 530    October 27, 2010
 531       April 9, 2008
 532       April 9, 2008
 533      April 17, 2018
 534       April 9, 2008
 535     October 6, 2017
 536        June 5, 2012
 537    October 20, 2008
 538    October 20, 2004
 539      March 18, 2005
 540  September 11, 2006
 541     October 6, 2017
 542   February 14, 2012
 543      March 18, 2005
 544       April 9, 2008
 545    February 5, 2015
 546    October 25, 2012
 547    November 6, 2003
 548  September 21, 2015
 549     October 6, 2017
 550     August 19, 2014
 551   November 18, 2002
 552   February 18, 2003
 553      March 17, 2005
 554      March 17, 2005

 [555 rows x 7 columns]]

In [22]:
data[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 21, 2018"
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","December 5, 2017"

In [23]:
from sqlalchemy import create_engine

In [24]:
engine = create_engine('sqlite:///:memory:')

In [25]:
df.to_sql('my_table',engine)

In [28]:
sqldf = pd.read_sql('my_table',con=engine)

In [29]:
sqldf

,index,permalink,company,numEmps,category,city,state,fundedDate,raisedAmt,raisedCurrency,round
0,0,lifelock,LifeLock,NaN,web,Tempe,AZ,01-May-07,6850000.0,USD,b
1,1,lifelock,LifeLock,NaN,web,Tempe,AZ,01-Oct-06,6000000.0,USD,a
2,2,lifelock,LifeLock,NaN,web,Tempe,AZ,01-Jan-08,25000000.0,USD,c
3,3,mycityfaces,MyCityFaces,7.0,web,Scottsdale,AZ,01-Jan-08,50000.0,USD,seed
4,4,flypaper,Flypaper,NaN,web,Phoenix,AZ,01-Feb-08,3000000.0,USD,a
5,5,infusionsoft,Infusionsoft,105.0,software,Gilbert,AZ,01-Oct-07,9000000.0,USD,a
6,6,gauto,gAuto,4.0,web,Scottsdale,AZ,01-Jan-08,250000.0,USD,seed
7,7,chosenlist-com,ChosenList.com,5.0,web,Scottsdale,AZ,01-Oct-06,140000.0,USD,seed
8,8,chosenlist-com,ChosenList.com,5.0,web,Scottsdale,AZ,25-Jan-08,233750.0,USD,angel
9,9,digg,Digg,60.0,web,San Francisco,CA,01-Dec-06,8500000.0,USD,b
10,10,digg,Digg,60.0,web,San Francisco,CA,01-Oct-05,2800000.0,USD,a
11,11,facebook,Facebook,450.0,web,Palo Alto,CA,01-Sep-04,500000.0,USD,angel
12,12,facebook,Facebook,450.0,web,Palo Alto,CA,01-May-05,12700000.0,USD,a
13,13,facebook,Facebook,450.0,web,Palo Alto,CA,01-Apr-06,27500000.0,USD,b
14,14,None,None,NaN,None,None,None,None,NaN,None,None
15,15,None,None,NaN,None,None,None,None,NaN,None,None
16,16,None,None,NaN,None,None,None,None,NaN,None,None
17,17,None,None,NaN,None,None,None,None,NaN,None,None
18,18,None,None,NaN,None,None,None,None,NaN,None,None
19,19,None,None,NaN,None,None,None,None,NaN,None,None
20,20,None,None,NaN,None,None,None,None,NaN,None,None
21,21,None,None,NaN,None,None,None,None,NaN,None,None
22,22,None,None,NaN,None,None,None,None,NaN,None,None
23,23,None,None,NaN,None,None,None,None,NaN,None,None
24,24,None,None,NaN,None,None,None,None,NaN,None,None
25,25,None,None,NaN,None,None,None,None,NaN,None,None
26,26,None,None,NaN,None,None,None,None,NaN,None,None
27,27,None,None,NaN,None,None,None,None,NaN,None,None
28,28,None,None,NaN,None,None,None,None,NaN,None,None
29,29,None,None,NaN,None,None,None,None,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...
1430,1430,None,None,NaN,None,None,None,None,NaN,None,None
1431,1431,None,None,NaN,None,None,None,None,NaN,None,None
1432,1432,None,None,NaN,None,None,None,None,NaN,None,None
1433,1433,None,None,NaN,None,None,None,None,NaN,None,None
1434,1434,None,None,NaN,None,None,None,None,NaN,None,None
1435,1435,None,None,NaN,None,None,None,None,NaN,None,None
1436,1436,None,None,NaN,None,None,None,None,NaN,None,None
1437,1437,None,None,NaN,None,None,None,None,NaN,None,None
1438,1438,None,None,NaN,None,None,None,None,NaN,None,None
1439,1439,None,None,NaN,None,None,None,None,NaN,None,None
1440,1440,None,None,NaN,None,None,None,None,NaN,None,None
1441,1441,None,None,NaN,None,None,None,None,NaN,None,None
1442,1442,None,None,NaN,None,None,None,None,NaN,None,None
1443,1443,None,None,NaN,None,None,None,None,NaN,None,None
1444,1444,None,None,NaN,None,None,None,None,NaN,None,None
1445,1445,None,None,NaN,None,None,None,None,NaN,None,None
1446,1446,None,None,NaN,None,None,None,None,NaN,None,None
1447,1447,None,None,NaN,None,None,None,None,NaN,None,None
1448,1448,None,None,NaN,None,None,None,None,NaN,None,None
1449,1449,None,None,NaN,None,None,None,None,NaN,None,None
1450,1450,None,None,NaN,None,None,None,None,NaN,None,None
1451,1451,None,None,NaN,None,None,None,None,NaN,None,None
1452,1452,None,None,NaN,None,None,None,None,NaN,None,None
1453,1453,None,None,NaN,None,None,None,None,NaN,None,None
1454,1454,None,None,NaN,None,None,None,None,NaN,None,None
1455,1455,None,None,NaN,None,None,None,None,NaN,None,None
1456,1456,None,None,NaN,None,None,None,None,NaN,None,None
1457,1457,None,None,NaN,None,None,None,None,NaN,None,None
1458,1458,None,None,NaN,None,None,None,None,NaN,None,None
1459,1459,None,None,NaN,None,None,None,None,NaN,None,None